/LehenFXMLProiektua/target/
/JavaFXApplicationWithFXML/nbproject/private/
/UD0/First/nbproject/private/
/UD0/Ikasleak/build/
/UD0/Ikasleak/dist/
/UD0/Ikasleak/nbproject/private/
/UD0/Kalkulagailua/nbproject/private/
/UD1/IOStreamTutoriala/nbproject/private/
/UD1/IOStreamTutoriala/build/
/UD1/CsvKontsola/nbproject/private/
/UD1/CsvKontsola/dist/
/UD1/CsvKontsola/build/
/UD1/JSONKontsola/nbproject/private/
/UD1/JSONKontsola/build/
/UD1/Konbertsoreak/nbproject/private/
/UD1/Konbertsoreak/build/
/UD2/JdbcAriketak/nbproject/private/
/UD2/JdbcAriketak/build/
/UD2/Ikasleak/build/
/UD2/Ikasleak/nbproject/private/
/UD2/Ikasleak/dist/
